<div class="content">
  <h1>About TechShowcase</h1>
  <mat-card>
    <h3>TechShowcase is dedicated to highlighting inspiring individuals in the tech industry with primary focus on
      hands-on programmers and coders.</h3>

    <p>Our focus is on those who actively engage in coding and development, ensuring the highlighted profiles represent
      the true creators and innovators in the tech world. Following this primary focus, we also feature open source
      maintainers and contributors, educators, mentors, content creators and many others who consistently share their
      knowledge and contribute to the community. We prioritize individuals who demonstrate frequent and sustained
      activities, rather than those who appear at conferences sporadically.</p>

    <p>In addition to its focus on individual profiles, TechShowcase features a history page where facts are verified,
      making it a valuable resource for academic purposes. Students and researchers can rely on TechShowcase for
      accurate and inspiring information about influential figures in technology.</p>

    <p>As an open source project, TechShowcase invites contributors to add new profiles. However, every profile
      undergoes a thorough verification process. This includes manual checks and, at times, discussions among
      contributors to ensure the authenticity and relevance of the profiles. This rigorous verification process is
      essential to maintain the integrity and quality of the showcased individuals.</p>

    <p>TechShowcase not only celebrates the achievements of developers but also encourages others to contribute and
      expand this valuable resource. By participating, contributors can help shine a light on the diverse and dynamic
      individuals driving the tech industry forward.</p>

    <p>We encourage you to join our community and contribute to TechShowcase. Together, we can continue to highlight the
      most inspiring and impactful developers in the tech world.</p>

    <h3>Explore Our Repositories:</h3>
    <div class="links">
      <a href="https://github.com/TechShowcase/techshowcase" target="_blank">
        <img src="/images/branding/techshowcase-logo-sq.jpg" alt="">
      </a>
      <a href="https://github.com/TechShowcase/womenintech" target="_blank">
        <img src="/images/women-in-tech-logo.jpg" alt="">
      </a>
      <a href="https://github.com/TechShowcase/builtwithanalog" target="_blank">
        <img src="/images/builtwithanalog.jpg" alt="">
      </a>
    </div>
  </mat-card>
</div>
