<div class="content">
  <h1>About</h1>
  <mat-card>
    <h2>techshowcase.dev</h2>
    <p>Is part of the</p>
    <a href="https://github.com/TechShowcase" target="_blank">
      <h1>TechShowcase Open Source Project</h1>
    </a>
    <p>TechShowcase is dedicated to showcasing various projects and individuals featuring three main repositories, with their own dedicated websites:
    </p>
    <ul>
      <li>TechShowcase - <a href="https://techshowcase.dev" target="_blank">techshowcase.dev</a></li>
      <li>Women in Tech - <a href="https://womenintech.dev" target="_blank">techshowcase.dev</a></li>
      <li>Built with Analog - <a href="https://builtwithanalog.dev" target="_blank">builtwithanalog.dev</a></li>
    </ul>
  </mat-card>
</div>
