.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90vh;

  mat-card {
    width: 50vw;
    padding: 2rem;
    margin-bottom: 3rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      margin: 0 0 1.5rem 0;
    }

    h3 {
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 600;
      text-align: center;
      margin: 0 0 1.5rem 0;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.7rem;
      text-align: center;
      margin: 0 0 1rem 0;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      h1 {
        margin: 0;
      }
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      img {
        width: 6rem;
        height: 6rem;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    mat-card {
      width: 90vw;
    }

    li {
      flex-direction: column;

    }
  }
}
