<div class="content">
  <h1>FQA</h1>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          What is techshowcase.dev?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        techshowcase.dev is an open-source website dedicated to showcasing and celebrating the achievements of individuals in
        various tech roles. It provides an easy way to filter and discover developers, engineers, data scientists,
        UX/UI designers, tech writers, and other tech professionals, aiming to be a valuable resource for easily finding profiles of individuals who help and inspire others in the tech industry .
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Is it free to add a profile to techshowcase.dev?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Yes, adding a profile is completely free as techshowcase.dev is an open-source project. We are committed to
        providing a platform where people in tech can be recognized and celebrated without any cost.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How do I add a profile to techshowcase.dev?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Submitting a profile for showcase is simple! Just head over to our GitHub repository and follow the guidelines
        provided in the <a href="https://github.com/TechShowcase/techshowcase/blob/main/CONTRIBUTING.md"
          target="_blank">CONTRIBUTING.md</a>. Ensure you provide all necessary information and adhere to the formatting
        standards to have the profile included.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How can I update information about a profile?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        To update information about a profile, submit a new Pull Request (PR) with the updated details to our GitHub
        repository. Be sure to follow the instructions in the <a
          href="https://github.com/TechShowcase/techshowcase/blob/main/CONTRIBUTING.md"
          target="_blank">CONTRIBUTING.md</a> and include all relevant information to ensure your changes are correctly
        processed.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Can I remove my profile?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Yes, if you wish to have your profile removed, you can submit an issue in the <a
          href="https://github.com/TechShowcase/techshowcase" target="_blank">GitHub repository</a> requesting the
        removal. Please provide your profile details and reason for removal, and our team will assist with the process.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What if someone tries to misuse the platform?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Misuse of the platform is not our intention. We have guidelines in place to ensure that all profiles are
        submitted with accurate and respectful information. If you encounter any misuse or inappropriate content, please
        report it immediately through our GitHub issues or contact us directly. We are committed to maintaining a
        positive and professional environment.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How can I get involved with the techshowcase.dev community?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        techshowcase.dev is part of a larger tech showcase community. You can get involved by contributing profiles,
        helping with code development, or supporting our mission through social media and community outreach. For more
        information on how to participate, check out our <a
          href="https://github.com/your-repo/CONTRIBUTING.md">CONTRIBUTING.md</a>. Additionally, join our <a
          href="https://discord.gg/6J57MUcH">Discord server</a> to connect with other community members,
        share ideas, and stay updated on the latest developments.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
