.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90vh;

  mat-accordion {
    width: 50vw;
    margin-bottom: 3rem;

    mat-panel-title {
      font-size: 1.2rem;
    }

    mat-expansion-panel {
      table {
        border: 1px solid;
        border-collapse: collapse;
        border-radius: 0.5rem;

        th, td {
          border: 1px solid;
          padding: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    mat-accordion {
      width: 90vw;

      mat-expansion-panel-header {
        height: 5rem;
        padding: 0.5rem 1rem;;
      }
    }
  }
}
