mat-sidenav-container {
  flex: 1 0 auto;

  mat-sidenav {
    width: auto;

    mat-nav-list {

      a[mat-list-item] {
        padding-right: 1rem;

        mat-icon {
          &.rotate {
            transform: rotate(180deg);
          }
        }
      }
    }

    .links {
      display: flex;
      gap: 1rem;
      padding: 1rem;

      mat-card {
        width: 3.5rem;
        overflow: hidden;
      }
    }
  }

  mat-sidenav-content {
    min-height: 80vh;
    padding: 1rem 2rem;
  }
}
