<div [class]="themeService.themeSignal()">
  <app-header (toggleSidenav)="snav.toggle()"></app-header>
  <mat-sidenav-container>
    <mat-sidenav #snav [mode]="'over'">
      <mat-nav-list>
        @for (nav of navItems; track nav) {
        <a mat-list-item routerLink="{{nav.route}}" (click)="snav.toggle()">{{nav.name}}</a>
        }
      </mat-nav-list>
      <mat-divider></mat-divider>
      <div class="links">
        <a href="https://womenintech.dev/" target="_blank">
          <mat-card>
            <img src="/images/women-in-tech-logo.jpg" alt="">
          </mat-card>
        </a>
        <a href="https://builtwithanalog.dev/" target="_blank">
          <mat-card>
            <img src="/images/builtwithanalog.jpg" alt="">
          </mat-card>
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
