<div class="container" [class]="themeService.themeSignal()">
<mat-toolbar class="header">
  <a routerLink="/">TechShowcase</a>
  <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
</mat-toolbar>
<main>
  <div class="cards-wrapper">
    <a href="">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Built With Angular</mat-card-title>
          <mat-card-subtitle>Projects Collection</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="../assets/images/angular-gradient.png" alt="angular logo">
        </mat-card-content>
      </mat-card>
    </a>
    <a href="">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Built With Analog</mat-card-title>
          <mat-card-subtitle>Projects Collection</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="../assets/images/analog-logo.svg" alt="analogjs logo">
        </mat-card-content>
      </mat-card>
    </a>

  </div>
</main>
<mat-toolbar class="footer">
  <span>TechShowcase</span>
</mat-toolbar>
</div>
