@use "@angular/material" as mat;

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    ));

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    ));

@include mat.core();
@include mat.color-variants-backwards-compatibility($light-theme);

:root {
  @include mat.all-component-themes($light-theme);
}

// DARK THEME
.dark {
  @include mat.color-variants-backwards-compatibility($dark-theme);
  @include mat.all-component-colors($dark-theme);

  background-color: #333;
  color: #a2aeb8;

  a,
  h1 {
    color: #7692b1;
  }

  h3 {
    color: #92adcb;
  }

  mat-toolbar {
    background-color: #202020;
    box-shadow: 0 0 0.4rem #000000da;

    button[mat-icon-button] {
      mat-icon {
        color: #92adcb;
      }
    }

    // slide toggle overwrites
    mat-slide-toggle {
      button {
        .mdc-switch__track {
          &::after {
            background-color: #344354 !important;
            box-shadow: inset 0 0 0.4rem #000000b0 !important;
          }
        }

        .mdc-switch__handle-track {
          .mdc-switch__handle {
            &::after {
              background: #6189ac !important;
            }
          }
        }
      }
    }
  }

  .mat-drawer-container {
    background-color: #343434;
  }

  mat-sidenav {
    background-color: #2a2a2a;
    box-shadow: 0 0 0.4rem #000000c9;
  }

  .links {
    img {
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0.2rem 0.4rem #6189acd7;
      }
    }
  }

  mat-card {
    background-color: #202020;

    &.home {
      border: 0.3rem solid #414851;

      &:hover {
        background-color: #2a292b;
        box-shadow: 0 0.1rem 0.3rem #000000a2;
        border-color: #6185ac;

        img {
          box-shadow: 0 0.1rem 0.3rem #000000;
        }
      }
    }
  }

  .content {
    mat-panel-title {
      font-family: "Lato", sans-serif;
      color: #afc0d2;
    }
  }

  app-footer {
    background-color: #202020;
    color: #555;
    box-shadow: 0 0 0.4rem #000000da;
  }
}

// LIGHT THEME
.light {

  a,
  h1 {
    color: #557dad;
  }

  h3 {
    color: #5982b4;
  }

  button[mat-raised-button] {
    background-color: #d9e2ec !important;
  }

  mat-toolbar {
    background-color: #dce3e9;
    box-shadow: 0 0.1rem 0.3rem #0f0f0f2d;

    button[mat-icon-button] {
      mat-icon {
        color: #5982b4;
      }
    }

    // slide toggle overwrites
    mat-slide-toggle {
      button {
        .mdc-switch__track {
          &::before {
            border-color: #e4e3e3;
            box-shadow: inset 0 0 0.4rem #00000070 !important;
          }

          &::after {
            background-color: #d1d9e0 !important;
          }
        }
      }
    }
  }

  .mat-drawer-container {
    background-color: #eff1f3;
  }

  mat-sidenav {
    background-color: #eff1f3;
    box-shadow: 0 0.1rem 0.3rem #0f0f0f2d;
  }

  .links {
    img {
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0.2rem 0.4rem #6189acd7;
      }
    }
  }

  mat-card {
    background-color: #dce3e9;

    &.home {
      border: 0.3rem solid #ffffff;

      &:hover {
        background-color: #d9e4e8;
        border-color: #88abc6;

        img {
          box-shadow: 0 0.1rem 0.5rem #00000070;
        }
      }
    }
  }

  .content {
    mat-panel-title {
      font-family: "Lato", sans-serif;
      color: #4b73a4;
    }
  }

  app-footer {
    background-color: #dce3e9;
    color: gray;
    box-shadow: 0 0 10px 0 #0f0f0f2d;
  }
}
