@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

$light-theme: matx.define-theme((color: (theme-type: light,
        primary: matx.$m3-azure-palette,
        tertiary: matx.$m3-blue-palette,
      ),
    ));

$dark-theme: matx.define-theme((color: (theme-type: dark,
        primary: matx.$m3-cyan-palette,
        tertiary: matx.$m3-orange-palette,
      ),
    ));

@include mat.core();
@include matx.color-variants-back-compat($light-theme);

:root {
  @include mat.all-component-themes($light-theme);
}

// DARK THEME
.dark {
  @include matx.color-variants-back-compat($dark-theme);
  @include mat.all-component-colors($dark-theme);

  background-color: #242426;
  color: #f5f5f5;

  a {
    color: #6057c4;
  }

  mat-toolbar {
    box-shadow: 0 0.1rem 0.3rem #0f0f0fc2;

    // slide toggle overwrites
    mat-slide-toggle {
      button {
        .mdc-switch__track {
          &::after {
            background-color: #2b2941 !important;
          }
        }

        .mdc-switch__handle-track {
          .mdc-switch__handle {
            &::after {
              background: #5149ae !important;
            }
          }
        }
      }
    }
  }

  mat-card {
    &:hover {
      box-shadow: 0 0 1rem 0.5rem #5149ae8d;
    }

    mat-card-subtitle {
      color: #8d8d8d;
      font-weight: 400;
    }
  }

  .footer {
    color: #555;
    box-shadow: 0 0.1rem 0.5rem #0f0f0fc2;
  }
}

// LIGHT THEME
.light {

  a {
    color: #483dbe;
  }

  mat-toolbar {
    box-shadow: 0 0.1rem 0.3rem #0f0f0f3d;

    .app-logo {
      mat-icon {
        color: #3c6968;
      }

      h1 {
        background-color: #eaeaea;
        color: #333;
      }
    }

    // slide toggle overwrites
    mat-slide-toggle {
      button {
        .mdc-switch__track {
          &::before {
            border-color: #d4d4d4;
          }

          &::after {
            background-color: grey !important;
          }
        }
      }
    }
  }

  mat-card {
    &:hover {
      box-shadow: 0 0 1rem 0.5rem #00000033;
    }
  }

  .footer {
    color: gray;
  }
}
